@font-face {
  font-family: 'LowresPixel-Regular';
  src: url('LowresPixel-Regular.otf') format('truetype');
}

body {
  background: #54a1b6;
}

.robot {
  position: relative;
  width: 256px;
  height: 256px;
  margin: 40px auto;
}

.robot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}


#ears {
  transition: transform 0.25s ease;
}

.bubble {
  display: block;
  position: center 
  width: 90px;          /* adjust size as needed */
  height: auto;          /* keeps aspect ratio */
}













