body {
  background: #0f1117;
}

.robot {
  position: relative;
  width: 256px;
  height: 256px;
  margin: 100px auto;
}

.robot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
