@font-face {
  font-family: 'LowresPixel-Regular';
  src: url('LowresPixel-Regular.otf') format('truetype');
}

body {
  background: #54a1b6;
}


@font-face {
  font-family: 'LowresPixel-Regular';
  src: url('LowresPixel-Regular.otf') format('truetype');
}

body {
  background: #54a1b6;
}

.robot {
  position: center;
  width: 256px;
  height: 256px;
  margin: 30px auto;
}

.robot img {
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#ears {
  transition: transform 0.25s ease;
}

.bubble {
  
  width: 60%;
  position: center
  max-width: 200px;
  margin: 20px auto 0;
  display: block;
}


































