@font-face {
  font-family: 'LowresPixel-Regular';
  src: url('LowresPixel-Regular.otf') format('truetype');
}

.page-title {
  font-size: 48px;   /* makes the heading big */
  color: #ffffff;    /* white text */
  text-align: center;
  margin-top: 10px;
  font-family: 'LowresPixel-Regular', sans-serif;
}

body {
  background: #000000;
}


@font-face {
  font-family: 'LowresPixel-Regular';
  src: url('LowresPixel-Regular.otf') format('truetype');
}

body {
  background: #54a1b6;
}

.robot {
  position: relative;
  width: 256px;
  height: 256px;
  margin: 40px auto;
}

.robot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#ears {
  transition: transform 0.25s ease;
}

.bubble {
  
  width: 60%;
  position: center
  max-width: 200PX;
  margin: 10px auto 0;
  display: block;
}











































